body {
    font-family: Arial;
    background: linear-gradient(to right, #d4fc79, #96e6a1);
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: green;
}

.quote {
    font-size: 18px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.method {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.warning {
    color: red;
    font-weight: bold;
}
